
.Pref_our_pref {
    height: auto;
    padding: 20px;
    background-color: #CD337B;
    margin-block-end: 100px;
    justify-content: center;
}

.Pref_text {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-block-end: 5%;
}

.Pref_image_block {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.Pref_image {
    padding: 6px;
    border: 5px solid white;
    border-radius: 50%;
    line-height: 10em;
    text-align: center;
}

.Pref_image_content {
    object-fit: scale-down;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: center;
    max-width: 200px;
}

/*------------------------------------*/

.Pref_image_container {
    text-align: center;
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
